body {
  background-color: #523f6d !important;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px 0px 20px;
  color: #523F6D;
}

.navbar-default .navbar-toggle:focus{background-color:#523f6d;}

.navbar {
  background-image: url('../../../media/template/bgtop.png');
  background-color: #8C6BBB;
  border-bottom: 3px solid #7253A0;
}

.navbar .nav>li>a:hover {
  color: #ffffff;
  background-color: #7253A0;
}

.navbar .navbar-brand,
.navbar .nav>li>a {
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px;
}

.navbar-default .navbar-toggle .icon-bar{background-color:#fff;}

ul.page-sidebar-menu > li > a > .arrow:before,
ul.page-sidebar-menu > li > a > .arrow.open:before {
  color: #ccc !important;
}
ul.page-sidebar-menu > li.active > a .arrow:before, 
ul.page-sidebar-menu > li.active > a .arrow.open:before {
  color: #fff !important;
}

ul.page-sidebar-menu > li > a {
  /*border-top: 1px solid #3F5061 !important;*/
  color: #AAC7D6 !important;
  font-weight: 600;
}

ul.page-sidebar-menu > li a i {
  color: #BBC3CC !important;
}

ul.page-sidebar-menu ul.sub-menu > li > a {
  font-weight: 600 !important;
  color: #B3CCD6 !important;
}

ul.page-sidebar-menu ul.sub-menu > li > a:hover {
  color: #C2CCD6 !important;
  background: #412D5F !important; 
}

ul.page-sidebar-menu > li.open > a,
ul.page-sidebar-menu > li > a:hover,
ul.page-sidebar-menu > li:hover > a {
  background: #412D5F;
  /*border-top: 1px solid #e8e8e8;*/
}

ul.page-sidebar-menu > li.active > a{
  background: #a3b745 !important;
  border-top-color: transparent !important;
  color:#fff !important;
} 

ul.page-sidebar-menu ul.sub-menu > li.open > a {
  color: #C2CCD6 !important;
  background: #412D5F !important; 
}

ul.page-sidebar-menu > li.active > a .selected {
  right:-7px;
  top:0px;
  width: 7px;
  height: 39px;
  background-image: url("../../img/sidebar-menu-arrow-green2.png");
}

.footertext{
  text-align:right;
  color:#C2CCD6;
}

.welcomeside img{
  border:4px solid #7D6D94;
}

.welcomesidetext{
  margin:10px 0 0 0;
  font-size:16px;
  color:#C2CCD6;
  line-height:100%;
}

.headtext{
  color:#C35656;
}

.footer {
    background-color: #523f6d;
  }

@media (max-width: 991px) {
  ul.page-sidebar-menu > li.active > a {
      color: #ffffff !important;
      background-color: #a3b745 !important;
    }

  .page-sidebar.in {
    border-top: 0 !important;
    margin: 20px 20px 0px;
    position: relative;
    z-index: 5;
    border-bottom: 6px solid #7253A0;
  }
}